body {
    background: linear-gradient(to right, #000428, #004e92);  
    color:white;
}

.row {
    overflow-x:auto;
    flex-wrap:nowrap;

}

.image-container {
    position:relative;
    transition: transform 0.2s;
}

.image-container:hover .overlay { 
    opacity:1;

       
}

.overlay {
    position: absolute;
    background:black;
    width:100%;
    transition:0.5s ease;
    opacity:0;
    font-size:20px;
    padding:20px;
    text-align:center;
}
    